[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pandemonium"]
	path = pandemonium
	url = https://github.com/gabrielmccoy/pandemonium
